{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: 'Epilogue', sans-serif;
    }

    .navbar-brand {
        font-family: 'Epilogue', sans-serif;
    }

    h5 {
        font-family: 'Epilogue', sans-serif;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Inventory PBP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'main:logout'%}">Logout</a>
            </div>
        </div>
    </div>
</nav>

<br>
<h5>Hello, {{name}} - {{class}} </h5>
<a href="{% url 'main:create_product' %}">
<button>
    Add New Product
    </button>
</a>

<br>
{% for product in products %}
    <div class="product-container">
        <div class="product-details">
            <p><strong>Name:</strong> {{ product.name }}</p>
            <p><strong>Price:</strong> {{ product.price }}</p>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Date Added:</strong> {{ product.date_added }}</p>
        </div>
        <div class="product-actions">
            <a href="{% url 'main:edit_product' product.pk %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'main:delete_product' product.pk %}">
                <button>Delete</button>
            </a>
        </div>
    </div>
{% endfor %}
    <br />

<h5>Sesi terakhir login: {{ last_login }}</h5>
    
    {% endblock content %}